/*
* ELEMENT IN PAGE
  - Header
  - Featured
*/

.front-top-page {
  position: relative;
}

header {
  position: relative;
}

header .header-content {
  width: 100%;
  height: 79px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.9;
  border-bottom: 2px solid #0dbe84;
  z-index: 999;
}

header .header-content .col-md-2 {
  display: flex;
  align-items: center;
  position: relative;
}

header .header-content .col-md-2 span, header .header-content .col-md-2 .hidden {
  display: none;
}

header .header-content .col-md-2 svg {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 35px;
  color: #5f5f5f;
}

header .header-bottom {
  height: 200px;
  width: 100%;
  background-image: url('../images/normal-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header .header-bottom .title {
  margin-top: 120px;
  font-size: 25px;
  color: white;
}

header .header-bottom .title span {
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

header .wraper-menu-main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

header .wraper-menu-main .menu-main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

header .wraper-menu-main .menu-main li {
  padding: 0 10px;
  display: inline;
}

header .wraper-menu-main .menu-main li a {
  display: inline-block;
  font-weight: bold;
}

header .col-md-3 {
  display: flex;
  justify-content: flex-end;
}

header .newletter {
  width: 100%;
  height: 77px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  max-width: 200px;
}

header .wraper-menu-main .btn-newletter {
  display: none;
}

header .newletter > * {
  color: white;
}

header .newletter > svg {
  margin-right: 5px;
}

/* FEATURED */
section.featured {
  background-image: url('../images/featured.png');
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 20;
  min-height: 850px;
  background-position: bottom;
}

section.featured .container-fix {
  padding: 5% 0;
}

section.featured .fix-content {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
}

section.featured .fix-big-label {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 40%);
}

section.featured h1 {
  font-size: 99px;
  color: white;
  line-height: 100px;
  margin: 14% 0 0 6%;
}

/* NEWS */

section.news {
  background-image: url('../images/bg-news.jpg');
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
  min-height: 700px;
  background-position: bottom;
  margin-top: -289px;
}

section.news .fix-content {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.news h2 {
  font-size: 36px;
  color: #0dbe84;
}

section.news h2 span {
  padding-left: 20px;
  font-size: 20px;
  color: #0dbe84;
  font-family: 'SegoePro', sans-serif;
}

section.news ul {
  display: flex;
  flex-flow: column nowrap;
}

section.news ul li {
  padding: 10px 10px 26px 115px;
  position: relative;
  align-items: center;
  border-bottom: 2px dotted #b1b1b1;
  margin-top: 26px;
}

section.news ul li:before {
  content: 'NEWS';
  font-family: 'SegoePro', sans-serif;
  width: 90px;
  padding: 5px;
  background: black;
  position: absolute;
  color: white;
  top: 8px;
  left: 0;
  text-align: center;
}

section.news ul li a {
  margin-left: 40px;
}

/* SERVICES */

section.services {
  position: relative;
}

section.services .item-ser {
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section.services .item-ser:nth-child(even) .content-sub {
  padding-right: 300px;
}

section.services .item-ser:nth-child(odd) .content-sub {
  padding-left: 300px;
}

section.services .item-ser img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  transition: all 950ms ease-in-out;
  cursor: pointer;
}

section.services .item-ser img:hover {
  transition: all 950ms ease-in-out;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
       -o-transform: scale(1.2);
          transform: scale(1.2);
}

section.recruit {
  position: relative;
  overflow: hidden;
  z-index: 20;
  bottom: -270px;
  margin-top: -270px;
}

section.recruit .bg-r {
  background-image: url('../images/services.jpg');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0% 100%);
}

section.recruit .container-fix {
  padding-bottom: 140px;
}

.no-bg {
  background-image: none;
}

section.recruit .head-recruit {
  position: relative;
  padding-top: 300px;
  line-height: 40px;
}

section.recruit .bussiness {
  line-height: 32px;
  padding-top: 120px;
}

section.recruit .bussiness h2 {
  font-size: 36px;
  color: white;
  font-weight: bold;
}

section.recruit .bussiness h2 span {
  font-size: 20px;
  color: white;
  padding-left: 20px;
  font-weight: normal;
}

section.recruit .bussiness p {
  color:  white;
  padding-top: 45px;
}

section.recruit ul {
  padding: 45px 0;
  display: flex;
  flex-flow: row wrap;
}

section.recruit ul li {
  margin-right: 20px;
  margin-bottom: 10px;
}

section.recruit ul li .btn-custom {
  min-width: 263px;
  position: relative;
}

section.recruit ul li .btn-custom:before {
  position: absolute;
  content: '\f054';
  font-family: 'Font Awesome\ 5 Free';
  color: #3ec6b9;
  top: 15px;
  right: 15px;
  font-weight: 900;
}

/* FOOTER */

footer {
  background: black;
  background-image: url('../images/footer-black.png');
  min-height: 494px;
  padding-top: 150px;
  text-align: right;
  position: relative;
  padding-bottom: 60px;
}

footer.has-clip {
  clip-path: polygon(0 35%, 100% 0%, 100% 100%, 0% 100%);
  padding-top:  150px;
}

footer {
  justify-content: flex-end;
}

footer p, footer a {
  color:  white;
  font-weight: bold;
}

footer ul {
  padding-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

footer ul li {
  padding: 10px 15px;
}

.cpr {
  position: absolute;
  width: 100%;
  bottom: 10px;
  text-align: center;
  color: #8e8e8e;
}

/* MAIN */

main.content-wrapper {
  padding: 30px 0;
  min-height: 100vh;
}


/* CONTACT */

.contact-page-wrapper .content-contact .item, .contact-select-page-wrapper .content-contact .item{
  width: 100%;
  padding: 25px 0px;
  text-align: left;
  border-bottom: 2px dotted gray;
}

.contact-page-wrapper .content-contact .mg10 {
  margin-bottom: 10px;
}

.contact-page-wrapper .content-contact .history li {
  line-height: 30px;
  list-style-image: url('../images/list-history.png');
  list-style-position: inside;
}

.red {
  color: red;
}

/* COMPANY SELECT */

.contact-select-page-wrapper textarea {
  border: none;
  background: #eee;
}

.contact-select-page-wrapper .submit {
  padding-top: 30px;
}

/* BUSINESS SELECT */
.contact-bussiness-page-wrapper .spacing {
  margin: 15px 0;
}

.contact-bussiness-page-wrapper .clear-bg {
  padding-top: 0;
  background: none;
}


/* RECRUIT SELECT */

.recruit-page-wrapper .submit a {
  margin-top: 30px;
  min-width: 250px;
}

.recruit-page-wrapper .submit a span {
  color: white;
}

.recruit-page-wrapper .submit a svg {
  color: white;
  margin-right: 5px;
  line-height: 30px
}

/* RESULT PAGE */

.result-page-wrapper table tr th {
  text-align: center;
}

.result-page-wrapper table tr th, .result-page-wrapper table tr td{
  border-right: 2px solid white;
}


/* RESPONSIVE */
@media (min-width: 1850px) {
  section.recruit .bg-r {
    background-size: cover;
  }
}

@media (max-width: 1350px) {
  section.featured {
    min-height: 1200px;
  }
    
  section.services .item-ser:nth-child(even) .content-sub {
    padding-right: 0;
  }

  section.services .item-ser:nth-child(odd) .content-sub {
    padding-left: 0;
  }

  section.recruit .bussiness {
    padding-top: 0;
  }

  footer {
    min-height: auto;
  }
}

@media (max-width: 1200px) {
  section.featured {
    min-height: 900px;
  }
}

@media (max-width: 992px) {
  html, body {
    font-size: 16px;
  }

  section.featured {
    min-height: 600px;
  }

  section.featured h1 {
    font-size: 65px;
    line-height: 70px;
    margin: 10% 0 0% 0px;
  }

  section.featured h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {

  /* MENU */
  header .header-content {
    height: 83px;
  }

  header .header-content .col-md-2 span {
    display: block;
  }

  header .header-content .col-md-3 {
    display: none;
  }

  header .wraper-menu-main {
    position: absolute;
    left: -100%;
    top: 83px;
    padding: 0;
    flex-flow: column nowrap;
    background: linear-gradient(to right, #00ffab, #02c9c2);
    padding: 15px 0;
  }

  header .wraper-menu-main .menu-main {
    flex-flow: column nowrap;
  }

  header .wraper-menu-main .menu-main li {
    width: 100%;
    margin-bottom: 10px;
  }

  header .wraper-menu-main .menu-main li a {
    color: white;
  }

  header .wraper-menu-main .btn-newletter {
    display: block;
    padding: 6px;
    background: white;
    max-width: 150px;
    margin-left: 11px;
    text-align: center;
  }

  section.featured {
    min-height: 520px;
  }

  section.featured h1 {
    font-size: 51px;
    line-height: 62px;
    margin: 20% 0 0% 0px;
  }

  section.featured .fix-content {
    padding: 0 15px;
  }

  section.featured ul li {
    padding: 35px 10px 15px 11px;
  }

  section.recruit .bussiness p {
    padding-top: 25px;
  }

  section.recruit ul {
    padding: 25px 0
  }
}

@media (max-width: 500px) {
  section.featured {
    min-height: 420px;
  }

  section.featured h1 {
    font-size: 40px;
  }

  section.news {
    min-height: 620px;
  }

  section.news h2 {
    font-size: 30px;
  }

  section.news h2 span {
    padding-left: 15px;
    font-size: 30px;
  }

  section.news ul li {
    padding: 0px 0px 15px 85px;
    font-size: 1rem !important;
  }

  section.news ul li:before {
    width: 80px;
  }

  section.recruit {
    bottom: 0;
    margin-top: 0;
  }

  section.recruit .bg-r {
    clip-path: none;
  }

  footer {
    padding-top: 30px;
  }
}

@media (max-width: 320px) {
  
}