/*
  Elements In Select Pages
  - Home Page
  - 
*/

/* Colors variables
  green: #0dbe84;
  sky: #02c9c2;
  green-gradient: #45ea6e, #02c9c2;
  gray: #eeeeee;
*/

html, body {
  font-family: 'Arial';
  font-size: 18px;
  color: black;
}

.container {
  max-width: 1300px; 
}

.container-fix {
  max-width: 1000px;
}

a, span, p, strong, input {
  color: black;
}

a:hover {
  color: #0dbe84;
  transition: all 250ms ease-in;
  text-decoration: none;
}

img {
  width: auto;
  max-width: 100%;
}

.font-xs {
  font-size: 18px;
}

.font-sm {
  font-size: 20px;
}

.font-xl {
  font-size: 22px;
}

.color-green {
  color: #0dbe84;
}

.bg-gradient-green {
  background-image: linear-gradient(to right, #00ffab, #02c9c2)
}

.bg-cover {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper-select-pages {
  width: 100%;
}

.content-sub {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 32px;
  transform: translate(-50%, -50%)
}

.content-sub p {
  color: white;
}

.content-sub p:first-child {
  font-size: 35px;
  font-weight: bold;
}

.btn-sub {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #0dbe84;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  color: white;
}

.btn-sub:hover {
  color: white;
  text-decoration: none;
}

/* BUTTON */

.btn-green {
  padding: 7px;
  color: white;
  background: #0dbe84;
  display: inline-block;
}

.btn-custom {
  display: inline-block;
  padding: 15px 45px;
  background: white;
  color: #3ec6b9;
  border: 1px solid #06e6a3;
}

.btn-custom-primary {
  display: inline-block;
  padding: 15px 45px;
  color: white;
  background: linear-gradient(to right, #00ffab, #02c9c2);
}

.breadcrums ul li > * {
  margin-right: 10px !important;
}

.breadcrum {
  padding: 6px;
  color: white;
  background: #0dbe84;
  display: inline-block;
}

.label-sm {
  font-size: 25px;
  color: #0dbe84;
}

.title-page {
  padding: 30px 15px;
}

.input-custom {
  background: #eeeeee;
  border: none;
  width: 100%;
  max-width: 300px;
  height: 28px;
  padding-left: 10px;
}

.input-custom:focus {
  background: white;
}

.panel-a {
  position: relative;
  border-bottom: 2px solid #0dbe84;
  line-height: 40px;
  padding-left: 30px;
}

.panel-a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #00ffab, #02c9c2);
}

.wrapper-gray {
  background: #f6f6f6;
  padding: 30px;
}

.wrapper-gray ul li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 30px
}

.wrapper-gray > * {
  margin-bottom: 20px;
}

